# Tugas Menghitung Jarak Antar Data

In [1]:
pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [2]:
import pandas as pd
from sklearn.metrics.pairwise import pairwise_distances
data = pd.read_csv('https://raw.githubusercontent.com/nurulfirdausy/Penambangan-Data/master/data_distance.csv')
data

     nama jenis kelamin  umur       status     jabatan
0    andy     laki-laki    20  tidak kawin     manager
1   ricky     laki-laki    24  tidak kawin  supervisor
2  samuel     laki-laki    25        kawin  supervisor
3     rey     laki-laki    24  tidak kawin       sales
4    vely     perempuan    22        kawin     manager

In [3]:
X = data[['jenis kelamin', 'umur', 'status', 'jabatan']].copy()
X['jenis kelamin'] = pd.Categorical(X['jenis kelamin']).codes
X['umur'] = pd.Categorical(X['umur']).codes
X['status'] = pd.Categorical(X['status']).codes
X['jabatan'] = pd.Categorical(X['jabatan'], categories=['it support', 'supervisor'], ordered=True).codes

In [5]:
dist_matrix = pairwise_distances(X, metric='manhattan') / max(pairwise_distances(X, metric='manhattan').flatten())

In [6]:
print(dist_matrix)

[[0.         0.66666667 1.         0.33333333 0.5       ]
 [0.66666667 0.         0.33333333 0.33333333 0.83333333]
 [1.         0.33333333 0.         0.66666667 0.83333333]
 [0.33333333 0.33333333 0.66666667 0.         0.5       ]
 [0.5        0.83333333 0.83333333 0.5        0.        ]]